.copyright
  - var hexoURL = "https://hexo.io/";
  - var casualURL = "https://github.com/littlewin-wang/hexo-theme-casual";
  - var currentDate = new Date();
  - var year = currentDate.getFullYear();
  - year = year == theme.startyear ? year : theme.startyear + ' - ' + year;
  .container
    .col-6
      .site-info © #{year} #[span.icon.icon-heart] #[a(href=config.url)!= config.author]
    .col-6
      .site-contact
        include social
